.sidebar-nav.social {
    font-size: 16px;
    li {
        float: none;
    }
    img.logo {
        max-width: 18px;
         float: left;
         margin: 0 5px 0 0;
    }
}

.mini-profile {
    min-width: 310px;
    display: inline-block;
    img {
        width: 128px;
        height: 128px;
        float: left;
    }
    img:after {
        content: "";
        clear: both;
    }
    span {
        height: 128px;
        line-height: 128px;
        text-align: center;
        padding-left: 5px;
    }
}

.google-calendar {
    float: right;

    :after{
        content: "";
        clear: both;
    }
}

.google-spreadsheet {
	min-width: 600px;
}

.image-404 {
    max-width: 100%;
}
