<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="content-type" content="text/html; charset=utf-8">
      <meta 
      	property="og:title"
	    content="{% block ogtitle %}{{ config.title }}{% endblock ogtitle %}"
      >
      <meta 
      	property="og:description"
	    content="{% block ogdescription -%}
	              {{ config.description }}
		        {%- endblock ogdescription %}"
      >
      <meta
	    property="og:image"
        content="{% block ogimage %}{{ config.base_url }}/logo.jpg{% endblock ogimage %}"
      >
      <meta
        property="og:type"
        content="{% block ogtype %}website{% endblock ogtype %}"
      >
      
      <!-- Enable responsiveness on mobile devices-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

      <title>{% block title %}{{ config.title }}{% endblock title %}</title>

      <!-- CSS -->
      <link rel="stylesheet" href="{{ get_url(path="print.css", trailing_slash=false) }}" media="print">
      <link rel="stylesheet" href="{{ get_url(path="poole.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="hyde.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="{{ get_url(path="style.css", trailing_slash=false) }}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

      {% if config.generate_rss %}
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml", trailing_slash=false) }}">
      {% endif %}

      {% block extra_head %}
      {% endblock extra_head %}
    </head>

    <body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
	<center>
	<a href="{{ config.base_url }}">
        <picture>
            <source
                type="image/webp"
                srcset="
                        /404-1x-desktop.webp 1x,
                        /404-1.5x-desktop.webp 1.5x,
                        /404-2x-desktop.webp 2x
                    "
                media="(min-width: 481px)"
            >
            <source
                srcset="
                        /404-1x-desktop.png 1x,
                        /404-1.5x-desktop.png 1.5x,
                        /404-2x-desktop.png 2x
                    "
                media="(min-width: 481px)"
            >
            <source
                type="image/webp"
                srcset="
                        /404-1x-mobile.webp 1x,
                        /404-1.5x-mobile.webp 1.5x,
                        /404-2x-mobile.webp 2x
                    "
                media="(max-width: 480px)"
            >
            <source
                srcset="
                    /404-1x-mobile.png 1x,
                    /404-1.5x-mobile.png 1.5x,
                    /404-2x-mobile.png 2x
                "
                media="(max-width: 480px)"
            >
            <img
                class="image-404"
                src="/404-1x-mobile.png"

            />
        </picture>
    </a>
	</center>

</body>

</html>
